<!-- public/views/home.html -->
<!--   Foundation grid layout:  http://foundation.zurb.com/grid-2.html
 --><div>
    <h1>Daily Financial Tracker Login Page</h1>

    <p>
      A no-charge tool for tracking your daily finances, setting budget limits, and generating reports.<br>
      {{ tagline }}<br>
      NOTE: landscape mode is recommended when viewing this site on mobile.
    </p>

    <!-- For larger devices.  Create a different div for small devices below -->
    <div class="row">
      <div class="small-10 medium-10 large-10 columns">
        <div class="row">
          <div class="small-6 medium-4 large-4 columns">
            <input type="text" placeholder="User Name" ng-model="userName">
          </div>
          <div class="small-6 medium-4 large-4 columns">
            <input type="password" placeholder="Password" ng-model="pwd">
          </div>          
          <div class="small-10-centered medium-4 large-4 columns" >
            <a ng-show="!loading" ng-disabled="!agree || loading" ng-click="attemptlogin(userName, pwd);"class="button postfix">Log In</a>
            <img ng-show="loading" src="images/loading-1.gif" />
          </div>
        </div>
        <div class="row">
          <div class="small-6 medium-4 large-4 columns" >
            <a ng-disabled="!agree || loading" ng-click="createAccount();"class="button postfix">Create a New Account</a>
          </div>    
                  
          <div class="small-6 medium-4 large-4 columns" >
            <a ng-disabled="!agree || loading" ng-click="updateAccount();"class="button postfix">Update Password</a>
          </div>
          <div class="small-0 medium-4 large-4 columns">
          </div>  
        </div> 

        NOTE: When you create a new account, you will be prompted to create a user ID and a password for yourself.  User ID and password must be at least 6 characters each, using at least one number or special character in your password is recommended.
      </div>
    </div> 

    <div class="row">
      <div class="large-10 columns">
        <div class="row">
          <div class="small-2 medium-1 large-1 columns">
            <input type="checkbox" ng-model="agree">
          </div>
          <div class="small-10 medium-11 large-11 columns">
            I acknowledge and agree to the terms of use below:
          </div>          
        </div>
      </div>
    </div>     

    <br><strong>Disclaimer:</strong><br>
    Daily Financial Tracker web app is a no-charge tool for anyone to use to help keep track of and optimize their daily finances.  Note that this is NOT a professional budgeting program, accounting package, or tax program.  It is provided as-is for your free use.  The intent of this app is to keep your data anonymous, letting you choose a user ID and a password. Please keep your data anonymous by NOT entering in any personally identifying information, such as full names, addresses, account numbers, etc. An export button is provided so you can backup your data to your local drive and / or import into excel or an accounting package (csv format). Backing up is highly recommended at least every month.
    <br><br>
    <div class="row">
      <div class="small-5 medium-4 large-4 columns">
        <a ng-click="help();"class="button postfix">Help! I have issues with my account.</a>
      </div>
    </div>

  <!-- ACCOUNT CREATION POPUP, MAKE INTO DIRECTIVE LATER -->
  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 id="modalTitle">Create a new account</h3>
    <p><input type="text" ng-model="userName" class="modal-input"/>New User Name (minimum 6 characters)</p>
    <p>
      <input type="password" ng-model="userPwd" class="modal-input"/>New User Password (minimum 6 characters)
      <input type="password" ng-model="userPwdConfirm" class="modal-input"/>Confirm
    </p>
    <div ng-show="userPwdConfirm.length > 0 && userPwd != userPwdConfirm" style="color: red;">Password and confirm must match</div>
    <div ng-show="lengthError" style="color: red;">User Name and Password must each be 6 characters or more.</div>
    <div ng-show="duplicateError" style="color: red;">User Name is already in use, please try another.</div>    
    <p><a ng-disabled="!pass()" ng-click="confirmAccount();"class="button postfix" style="width: 10rem;">Create Account</a></p>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <!-- PASSWORD UPDATE POPUP -->
  <div id="pwd-update-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 id="modalTitle">Update your Password</h3>
    <p><input type="text" ng-model="userName" class="modal-input"/>User Name</p>
    <p>
      <input type="password" ng-model="userPwd" class="modal-input"/>Current Password    
    <p>
      <input type="password" ng-model="newPwd" class="modal-input"/>New Password (minimum 6 characters)
      <input type="password" ng-model="newPwdConfirm" class="modal-input"/>Confirm
    </p>
    <div ng-show="newPwdConfirm.length > 0 && newPwd != newPwdConfirm" style="color: red;">New password and confirm must match</div>
    <div ng-show="lengthError" style="color: red;">New Password must each be 6 characters or more.</div>
    <div ng-show="updateError" style="color: red;">Your account could not be updated, please try again later.
    </div>    
    <p><a ng-disabled="!passPwdUpdate()" ng-click="confirmPwdChange();"class="button postfix" style="width: 10rem;">Update Password</a></p>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>  

</div>
