<!-- public/views/home.html -->
  <div>
    <h1>Daily Financial Tracker Login Page</h1>

    <p>
      A no-charge tool for tracking your daily finances, setting budget limits, and generating reports.<br>
      {{ tagline }}<br>
      NOTE: landscape mode is recommended when viewing this site on mobile. For this current release, Chrome,
      Firefox or Safari are recommended for browsers.
    </p>

    <div class="row">
      <div class="large-10 columns">
        <div class="row">
          <div class="small-2 medium-1 large-1 columns">
            <input type="checkbox" ng-model="agree">
          </div>
          <div class="small-10 medium-11 large-11 columns">
            I acknowledge and agree to the Terms of Use (see below).
          </div>          
        </div>
      </div>
    </div>      

    <div class="row">
      <div class="small-10 medium-10 large-10 columns">
        <div class="row">
          <div class="small-6 medium-4 large-4 columns">
            <input type="text" placeholder="User Name" ng-model="userName">
          </div>
          <div class="small-6 medium-4 large-4 columns">
            <input type="password" placeholder="Password" ng-model="pwd">
          </div>          
          <div class="small-10-centered medium-4 large-4 columns" >
            <a ng-show="!loading" ng-disabled="!agree || loading" ng-click="attemptlogin(userName, pwd);"class="button postfix">Log In</a>
            <img ng-show="loading" src="images/loading-1.gif" />
          </div>
        </div>
        <div class="row">
          <div class="small-6 medium-4 large-4 columns" >
            <a ng-disabled="!agree || loading" ng-click="createAccount();"class="button postfix">Create a New Account</a>
          </div>    
                  
          <div class="small-6 medium-4 large-4 columns" >
            <a ng-disabled="!agree || loading" ng-click="updateAccount();"class="button postfix">Change Password</a>
          </div>
          <div class="small-0 medium-4 large-4 columns">
          </div>  
        </div> 
        <!-- Use the controller action below to create all categories for an old user, must enter in the key above the button. This is a patch. 
        <input type="text" ng-model="tempKey" style="width: 12rem;" />
        <a ng-click="createCategories(tempKey);"class="button postfix">Fix Categories</a>  -->

        NOTE: When you create a new account, you will be prompted to create a user ID and a password for yourself.  User ID and password must be at least 6 characters each, using at least one number or special character in your password is recommended.
      </div>
    </div>    

    <br><strong>Terms of Use:</strong><br>
    Daily Financial Tracker web app is a no-charge tool for anyone to use to help keep track of and optimize their daily finances.  Note that this is NOT a professional budgeting program, accounting package, or tax program.  It is provided as-is for your free use.  The intent of this app is to keep your data anonymous, letting you choose a user ID and a password. Please keep your data anonymous by NOT entering in any personally identifying information, such as full names, addresses, account numbers, etc. An export button is provided so you can backup your data to your local drive and / or import into excel or an accounting package (csv format). Backing up is highly recommended at least every month.
    <br><br>
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <a ng-click="help();" title="Help! I have issues with my account." class="button postfix">Help!</a>
      </div>
    </div>

  <!-- ACCOUNT CREATION POPUP -->
  <account-creation-modal></account-creation-modal>

  <!-- PASSWORD UPDATE POPUP -->
  <account-update-modal></account-update-modal>

</div>

