<!-- public/views/item.html -->

<div class="panel content large-8 medium-10 small-12 small-centered large-centered radius" 
     style="padding: 0.75rem;">
  <h1>Recent Expense History:</h1>
  <p>{{ tagline }}<br>
  You are using key: {{key}}</p>

  <input type="checkbox" ng-model="showDateRange" /> Filter by Date Range
  <div id="show-block" ng-show="showDateRange">
    <div class="row">
      <div class="small-2 medium-2 large-2 columns">
        Start Date:
      </div>
      <div class="small-2 medium-2 large-2 columns">
        <input class="calendar" type="text" ng-model="startDate" ui-date="dateOptions"/>
      </div>
      <div class="small-2 medium-2 large-2 columns">
        End Date:
      </div>
      <div class="small-2 medium-2 large-2 columns">
        <input class="calendar" type="text" ng-model="endDate" ui-date="dateOptions"/>
      </div>
      <div class="small-2 medium-2 large-2 columns">
        <a ng-click="dateFilter(startDate, endDate)" class="button postfix show">Show</a>
      </div>
    </div>
  </div>
  <table>
    <th width="120">Date</th>
    <th width="100">Category</th> 
    <th width="100">Cost</th>
    <th width="350">Notes</th>
    <th width="50">Remove</th>
    <tr ng-repeat="item in items track by $index">
      <!-- <td>{{item.date}}</td> -->
      <td>
        <input class="calendar" type="text" ng-model="item.date" ui-date="dateOptions" grid="true"/> 
      </td>
      <td>
        <select ng-model="item.category" ng-change="update(item._id, item)">
          <option ng-repeat="option in categories">{{option}}</option>
        </select>
      </td>
      <td>{{item.cost}}</td>
      <td>
        <input type="text" ng-model="item.note" ng-change="updateNote(item._id, $index)" class="line-input">
      </td>

<!--       <td class="text-center" ng-if="item.notes.length > 0"><a href="" ng-click="viewNotes(item.name, item.notes)">View</a></td>
      <td class="text-center" ng-if="item.notes.length == 0"><a href="" ng-click="viewNotes(item.name, item.notes)">Add</a></td> -->
      <td class="text-center"><a href="" ng-click="remove(item._id)">X</a></td>
    </tr>
  </table>
  <div class="row">
    <div class="small-2 medium-2 large-2 columns">
      Page Total:
    </div>
    <div class="small-2 medium-2 large-2 columns">
      {{viewTotal | currency}} 
    </div>
    <div class="small-3 medium-3 large-3 columns">
      Category Total:
    </div>
    <div class="small-3 medium-3 large-3 columns">
      <select ng-model="selectedCat" ng-change="calculateCatTotal(selectedCat)">
        <option ng-repeat="option in categories">{{option}}</option>
      </select>
    </div>
    <div class="small-2 medium-2 large-2 columns">
      {{catTotal | currency}}
    </div>    
  </div>             
  <br>
  Add a new expense (enter dollar value, then add details above):<br>
  <div class="row">
    <div class="large-10 columns">
      <div class="row collapse">
        <div class="small-10 medium-8 large-8 columns">
          <input type="text" placeholder="New cost" ng-model="newOne">
        </div>
        <div class="small-2 medium-4 large-4 columns">
          <a ng-click="addOne(newOne)"class="button postfix">Add</a>
        </div>
      </div>
    </div>
  </div>  
  <!-- <note-popup></note-popup> -->
</div>
