<!-- public/views/item.html -->

<div class="panel content large-8 medium-10 small-12 small-centered large-centered radius" 
     style="padding: 0.75rem;">
  <h1>Recent Expense History:</h1>
  <p>{{ tagline }}<br>
  You are logged in as: {{login}}</p>
 
  
  <div class="row">
    <div class="small-6 medium-6 large-6 columns">
       <input type="checkbox" ng-model="showDateRange" /> Filter by New Date Range
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <div ng-show="viewStartDate != 'none'">View Range: {{viewStartDate}} to {{viewEndDate}}</div>
    </div>
  </div>  
  <div id="show-block" ng-show="showDateRange">
    <div class="row">
      <div class="small-2 medium-2 large-2 columns">
        Start Date:
      </div>
      <div class="small-2 medium-2 large-2 columns">
        <input class="calendar" type="text" ng-model="startDate" ui-date="dateOptions"/>
      </div>
      <div class="small-2 medium-2 large-2 columns">
        End Date:
      </div>
      <div class="small-2 medium-2 large-2 columns">
        <input class="calendar" type="text" ng-model="endDate" ui-date="dateOptions"/>
      </div>
      <div class="small-2 medium-2 large-2 columns">
        <a ng-show="!updatingDates" ng-click="dateFilter(startDate, endDate)" class="button postfix show">Show</a>
        <img ng-show="updatingDates" src="images/loading-1.gif" />
      </div>
    </div>
  </div>
  <table>
    <th width="120">Date</th>
    <th width="100">Category</th> 
    <th width="100">Cost</th>
    <th width="350">Notes</th>
    <th width="50">Remove</th>
    <tr ng-repeat="item in items track by $index">
      <!-- <td>{{item.date}}</td> -->
      <td>
        <input class="calendar" type="text" ng-model="item.date" ui-date="dateOptions" grid="true"/> 
      </td>
      <td>
        <select ng-model="item.category" ng-change="update(item._id, item)">
          <option ng-repeat="option in categories">{{option}}</option>
        </select>
      </td>
      <!-- <td>{{item.cost}}</td> -->
       <td>
        <input type="text" ng-model="item.cost" filter-element="numberCurrency" ng-change="updateNote(item._id, $index, true)" class="line-input">
      </td>     
      <td>
        <input type="text" ng-model="item.note" ng-change="updateNote(item._id, $index, false)" class="line-input">
      </td>

      <td class="text-center"><a href="" ng-click="remove(item._id)">X</a></td>
    </tr>
  </table>
  <div class="row">
    <div class="small-2 medium-2 large-2 columns">
      Page Total:
    </div>
    <div class="small-2 medium-2 large-2 columns">
      {{viewTotal | currency}} 
    </div>
    <div class="small-3 medium-3 large-3 columns">
      Category Total this Page:
    </div>
    <div class="small-3 medium-3 large-3 columns">
      <select ng-model="selectedCat" ng-change="calculateCatTotal(selectedCat)">
        <option ng-repeat="option in categories">{{option}}</option>
      </select>
    </div>
    <div class="small-2 medium-2 large-2 columns">
      {{catTotal | currency}}
    </div>    
  </div>             
  <div class="row">
    <div class="small-7 medium-7 large-7 columns">
    </div>
    <div class="small-5 medium-5 large-5 columns">
      <a ng-show="!loadingCategories" ng-click="openCategoryPopup();" id="category-button" class="button postfix" style="width: 10rem;">Category Limits</a>
      <img ng-show="loadingCategories" src="images/loading-1.gif" />
    </div>
  </div>
  <br>
  Add a new expense (enter dollar value, then add details above):<br>
  <div class="row">
    <div class="large-10 columns">
      <div class="row collapse">
        <div class="small-10 medium-8 large-8 columns">
          <input type="text" placeholder="New cost" filter-element="numberCurrency" ng-model="newOne">
        </div>
        <div class="small-2 medium-4 large-4 columns">
          <a ng-show="!loadingAdd" id="add-button" ng-click="addOne(newOne)"class="button postfix">Add</a>
          <img ng-show="loadingAdd" src="images/loading-1.gif" />
        </div>
      </div>
    </div>
  </div>  

  <!-- CATEGORY POPUP, MAKE INTO DIRECTIVE LATER -->
  <div id="categoryModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 id="modalTitle">Categories</h3>
    Shows your totals for the current month in each category, and is color coded to show how close you are to your budget limit.
    <table>
      <th width="120">Category Name</th>
      <th width="100">Monthly Limit</th> 
      <th width="100">Current Month Total</th>
      <!-- <th width="50">Remove</th> -->
      <tr ng-repeat="category in modalCategories track by $index">
        <!-- <td>{{item.date}}</td> -->
        <td>
          {{category.name}}
        </td>
        <td>
          <input type="text" ng-model="category.limit" filter-element="numberCurrency" class="line-input" ng-blur="updateCategory(category)"/>
        </td>
        <td ng-class="category.highlight">
          {{category.currentTotal | currency}}
        </td>
<!--         <td class="text-center"><a href="" ng-click="remove(item._id)">X</a></td>
 -->  </tr>
    </table>
   
    <p>
      <div class="row">
        <div class="small-3 medium-3 large-3 columns">
          <a ng-show="!recalcCategories" ng-click="openCategoryPopup();"class="button postfix" style="width: 10rem;">Re-calculate</a>
          <img ng-show="recalcCategories" src="images/loading-1.gif" />
        </div>
        <div class="small-3 medium-3 large-3 columns">
          <a ng-click="closeCategoryPopup();"class="button postfix" style="width: 10rem;">Close</a>
        </div>
        <div class="small-6 medium-6 large-6 columns">
        </div>        
      </div>
    </p>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div></div>
