.outer {

}

body {
  width: 100%;
  background-color: Gray !important;
}

.content {
  border: 0.20em solid SaddleBrown !important;
  border-radius: 0.5em !important;
  background-color: OldLace !important;
  margin: 0 auto;
}

@media only screen and (min-width: 65em) {
  /* limit width shown on very large screens */
  .content {
    width: 64em;
  }
}

.green {
  color: green;
}
.red {
  color: red;
}
.yellow {
  color: goldenrod;
}

.hand-clickable {
  cursor: pointer;
}

#deleteCatModal {
  width: 50%;
  padding: 7px;
  height: 16rem;
  left: 10rem;
  background-color: #E8E8E8;
  /*z-index: -10;*/
  position: absolute;
  box-shadow: 6px 6px 9px #888888;
}

#addCatModal {
  width: 50%;
  padding: 7px;
  height: 12rem;
  left: 10rem;
  background-color: #E8E8E8;
  /*z-index: -10;*/
  position: absolute;
  box-shadow: 6px 6px 9px #888888;
}

#my-modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
/*  background: black;
*/  background: rgba(0, 0, 0, 0.45);
  z-index: 100;
  display: none;
}

th, td {
  text-align: center;
  padding: 0.3rem !important;  
  padding-top: 0.3rem !important; 
  border: 1px solid black;
}

#item input {
  margin: 3px;
  width: 180px;
  display: inline-block;
}

#show-block.panel, #cat-total.panel, #page-total.panel {
  background: BurlyWood;
}

#show-block .show {
  z-index: 1;
}

#add-button {
  z-index: 1;
}

#category-button {
  z-index: 1;
}

input.calendar {
  margin: 0 !important;
}

td .line-input {
  margin: 0 !important;
}

#item button {
  display: inline-block;
}

#myModal .modal-input, #pwd-update-modal .modal-input {
  width: 10rem; 
  display: inline; 
  margin-right: 0.5rem;
}

.row{
  width: 100% !important; 
  min-width: 100% !important;
}


@media (max-width: 999px)  {
  body {
    font-size: 36px;
  }
} 
