<div id="addCatModal" ng-style="addPos">
  <h4 id="modalTitle">Add a Category:</h4>
  <div ng-show="addSuccessMsg.length == 0">
    Enter a new category to add:<br>
    <input type="text" ng-model="newCategory" ng-change="checkCatDup(newCategory)" style="width: 8rem;" />
  </div>

  <div ng-show="addSuccessMsg.length > 0">
    {{addSuccessMsg}}
  </div>      
  <div ng-show="addDupMsg.length > 0" style="color: red">
    {{addDupMsg}}
  </div>
  <div ng-show="!addDupMsg.length">
    &nbsp;
  </div>       
   <p>
    <div class="row">
      <div class="small-3 medium-3 large-3 columns">
        <a ng-click="closeCatAddPopup();"class="button postfix" style="width: 4rem;">{{closeText}}</a>
      </div>
      <div class="small-2 medium-2 large-2 columns">
      </div>        
      <div class="small-3 medium-3 large-3 columns">
        <a ng-show="!adding && addSuccessMsg.length == 0 && addDupMsg.length == 0" ng-disable="addDupMsg.length > 0" ng-click="addCategoryConfirm(newCategory);"class="button postfix" style="width: 4rem;">Add</a>
        <img ng-show="adding" src="images/loading-1.gif" />
      </div> 
      <div class="small-4 medium-4 large-4 columns">
      </div>       
    </div>
  </p> 
</div> 